{% extends 'index.html' %}

{% block title %}
<title>Simple Journal</title>
{% endblock %}

{% block content %}
<form action="/entry" method="POST">
    <input type="text" name='title' required />
    <textarea name='text' required></textarea>
    <button type="submit">Create Entry!</button>
</form>
<section class="entries">
    <h2>Your entries</h2>
    <section class="entries-grid">
        {% for entry in entries %}
        <article class="entry">
            <h3>{{ entry.title }}</h3>
            <div class="text">{{entry.textEntry|safe}}</div>
            <small><a href="/note/{{entry.id}}">Read More</a></small>
        </article>
        {% endfor %}
    </section>

</section>
{% endblock %}
