<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}"
    <title>Flowbite Flask</title>
</head>
<body>
    <h1>Hello, Flask!</h1>
    <form action="/entry" method="POST">
        <input type="text" name='title' required/>
        <textarea name='text' required></textarea>
        <button type="submit">Create Entry!</button>
    </form>
</body>
</html>