{% extends 'index.html' %}
{% block title %}
    <title>{{noteTitle}}</title>
{% endblock %}

{% block content %}
<article class="journalEntry">
<header>
<div class="container">
<h1>{{noteTitle}}</h1>
    <form action="{{ url_for('confirmDeletion', id=noteID) }}" method="POST">
        <button class="delete" type="submit">Delete Post</button>
    </form>
</div>
<p>Created On: {{noteDateTime}}</p>
    <p><strong><a href="/">Home</a></strong></p>
</header>
<div class="content">{{noteContent|safe}}</div>
</article>
{% endblock %}


