* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body
{
    font-family: 'Supreme', sans-serif;
    font-size:1.2em;
    max-width: 70rem;
    margin: 0 auto;
    padding: 1rem;
}
h1 {
    font-family: 'Chubbo', sans-serif;
    font-size: 2.5em;
    line-height: 1.5;

}
h2,h3 {
    font-family: 'Chubbo', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
}
input[type="text"],textarea,button {
    font: inherit;
    padding: 0.7rem;
    margin-bottom: 1rem;
    width: 100%;

}
button {
    border:none;
    cursor: pointer;
}
.entries-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 1rem;
}
.entry {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 10rem;
    background-color: bisque;
    padding: 1rem;
}
.entry div {
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
}