:root {
    --bg: #fafafa;
    --bg-secondary:#efefef;
    --text: #000000;
    --card-text: var(--text);
    --border: 2px solid var(--text);
    --yellow:#fff740;
    --light-yellow:#feff9c;
    --blue: #7afcff;
    --pink:#ff65a3;
    --light-pink:#ff7eb9;
    --green:#2E7D32;
    --sans:'Supreme', Arial, sans-serif;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg:#111111;
        --bg-secondary: #1a1a1a;
        --text:#fafafa;
        --card-text: #000;
        --border: 2px solid var(--text);
        --pink:#980046;
        --green:#2E7D32;


    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html {
    font-size:18px;
    scroll-behavior: smooth;
}
header {
    margin-bottom: 2rem;
    border-bottom: var(--border)
}
body
{
    font-family: var(--sans);
    color: var(--text);
    font-size:1.1rem;
    line-height: 1.5;
    max-width: 65rem;
    margin: 0 auto;
    background: var(--bg);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Chubbo', sans-serif;
    color: var(--text);
}
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem; 
}

h6 {
    font-size: 1rem; 
}
a,
a:visited {
    color: var(--text);
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
label {
    margin-bottom: 0.3rem;
}
input[type="text"],textarea{
    background-color: var(--bg-secondary);
    border: 1px solid var(--bg-secondary);
}
button {
    background-color: var(--bg-secondary);
    cursor: pointer;
}
input[type="text"],textarea,button {
    border: var(--border);
    color: var(--text);
    font: inherit;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    width: 100%;

}

.info {
    font-size: smaller;
    margin-bottom:0.5rem;
}
button:hover {
    background-color: var(--green);
}
.entries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    width: 100%;
    gap: 1rem;
}
.entry {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 20rem;
    padding: 1rem;
    overflow: hidden;
    text-wrap: wrap;
    text-overflow: ellipsis;
    border-radius: 5px;
}
/* .entry > text {
    text-overflow: ellipsis;
} */
.yellow {
    background-color: var(--yellow);
    color: var(--card-text);
}
.light-yellow {
    background-color: var(--light-yellow);
    color: var(--card-text);
}
.blue {
    background-color:var(--blue);
    color: var(--card-text);
}
.pink {
    background-color:var(--pink);
    color: var(--card-text);
}
.light-pink {
    background-color: var(--light-pink);
    color: var(--card-text);
}
.journalEntry {
    max-width: 50rem;
    margin: 0 auto;
}
.journalEntry > h1 {
    margin-bottom: 0.3rem;
    border-bottom: 1px solid black;
}
header > p {
    margin:0.3rem
}
p {
    margin: 0.5rem;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete {
    font:inherit;
    color:white;
}
.delete:hover {
    background-color: crimson;
}
.yesDelete {
    font:inherit;
    color:white;
    width: 50% !important;
}
.yesDelete:hover {
    background-color: crimson;
}
.noButton {
    font: inherit;
    padding: 0.7rem;
    background-color: bisque;
    text-decoration: none;
    background-color: var(--green);
    text-align: center;
    width:50%;
    height: fit-content;
}
.noButton:visited {
    color: inherit;
}
.noButton:hover {
    background-color: #50C878;
}
.confirmForm {
    display: flex;
    direction:flex-row;
    gap: 1rem;
}