* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
header {
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
}
label {
    margin-bottom: 0.5rem;
}
body
{
    font-family: 'Supreme', sans-serif;
    font-size:1.2em;
    line-height: 1.4;
    max-width: 65rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: #eeeedd;
}
h1 {
    font-family: 'Chubbo', sans-serif;
    font-size: 2.5em;
    line-height: 1.5;

}
h2,h3 {
    font-family: 'Chubbo', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input[type="text"],textarea,button {
    font: inherit;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    width: 100%;

}

.info {
    font-size: smaller;
    margin-bottom:0.5rem;
}
button {
    border:none;
    cursor: pointer;
}
.entries-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    gap: 1rem;
    margin: 1rem;
}
.entry {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 20rem;
    padding: 1rem;
    overflow: hidden;
    text-wrap: wrap;
    text-overflow: ellipsis;
    border-radius: 5px;
}
/* .entry > text {
    text-overflow: ellipsis;
} */
h1 a:visited {
    color:black;

}
.yellow {
    background-color: #fff740;
}
.light-yellow {
    background-color: #feff9c;
}
.blue {
    background-color: #7afcff;
}
.pink {
    background-color: #ff65a3;
}
.light-pink {
    background-color: #ff7eb9;
}
.journalEntry {
    max-width: 50rem;
    margin: 0 auto;
}
.journalEntry > h1 {
    margin-bottom: 0.3rem;
    border-bottom: 1px solid black;
}
header > p {
    margin:0.3rem
}
p {
    margin: 0.5rem;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete {
    background-color: crimson;
    color: white;
}